@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  background: linear-gradient(to left,#EDD2F3, #FFFCDC, #84DFFF); 
  color: #707070;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 450px;
  min-width: 450px;
}

.title {
  
  font-weight: 700;
  font-size: 55px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.form-rounded {
  border-radius: 2em;
}

.back-card {
  border-radius: 25px !important;
}

.city-name {
  position: absolute;
  width: 100%;
}

.city-name p {
  font-size: 20pt;
  font-weight: 400;
}

.city-name span {
  font-weight: 350;
  font-size: 35pt;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  top: -60px;
}

.temp span {
  margin-top: 2px;
  font-weight: 100;
  font-size: 5em;
  letter-spacing: -5px;
  white-space: nowrap;
}
.card-mid {
  line-height: 0.8;
  color:#8E806A;
}

.condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}
.high::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 5px;
}

.low::before {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 3px;
}
.icon-container {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background: #121212
}
.icon-container img {
  margin: auto;
}

.card-bottom {
  line-height: 0.8;
  color: #8E806A;
}
.card-bottom span {
  font-size: 15px;
}
.card-bottom p {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: -2px;
}